<!DOCTYPE html>
<html>

<body>
  <!-- Barra -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/auth">Game Jam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active-link">Inicio</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/auth/login" routerLinkActive="active-link">Log In </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/auth/registro/paso1" routerLinkActive="active-link">Sing up </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="/auth/categorias" routerLinkActive="active-link">Categorías</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/event" routerLinkActive="active-link">Eventos</a>
        </li>

        <li class="nav-item" *ngIf="rol === 'administrador'">
          <a class="nav-link" routerLink="/auth/editar" routerLinkActive="active-link">Editar</a>
        </li>
        
      </ul>

      <form class="form-inline my-2 my-lg-0 ml-auto search-form" (submit)="buscarValor()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar juegos" aria-label="Buscar juegos"
          [(ngModel)]="searchValue" name="search" required>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!-- Pie de página -->
  <footer class="navbar-brand">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">About</a>
      <a class="navbar-brand">|</a>
      <a class="navbar-brand">Contacts</a>
      <a class="navbar-brand">|</a>
      <a class="navbar-brand">Sponsor</a>
    </nav>
  </footer>
</body>

</html>