body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.ranking-container {
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrar horizontalmente y agregar margen superior e inferior */
    max-width: 600px; /* Ajustar el ancho máximo */
  }

  .btn {
    width: 15%;
    background-color: #eaeaea;
    margin-left: 42%;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    border: #000000;
    border-width: 1px;
    border-style: solid;
  }
  
  .ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ranking-table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .ranking-table td {
    padding: 10px;
  }
  
  .ranking-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .center{
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
  }

  .ranking-table tr:hover {
    background-color: #ddd;
  }
  
  .ranking-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  