<html>

<body>
    <div *ngIf="juego">
        <h1 class="center texto">{{ juego.nombre }}</h1>
        <p class="texto"><strong>Categoría:</strong> {{ juego.categoria }}</p>
        <p class="texto"><strong>Engine:</strong> {{ juego.engine }}</p>
        <p class="texto"><strong>Fecha del evento:</strong> {{ juego.evento.fecha }}</p>
        <p class="texto"><strong>Lugar del evento:</strong> {{ juego.evento.lugar }}</p>
        <p class="texto"><strong>Plataforma:</strong> {{ juego.plataforma }}</p>
        <p class="texto"><strong>Rating:</strong> {{ juego.rating }}</p>
        <div class="row">
        <p class="texto"><strong>Calificacion actual:</strong> {{ nota }}</p>
        <p class="detalles" (click)="verDetalles()" [hidden]="rol !== 'juez'"><strong>Ver detalles</strong></p>
        </div>
    </div>
    <div class="row center">
        <div id="calificar-container" class="container" [hidden]="rol !== 'juez'" #calificarContainer>
            <button class="btn" (click)="calificar()">Calificar</button>
            <button class="btn" (click)="reportarJuego()">Reportar Juego</button>
            <button class="btn" (click)="reportarProblema()">Reportar problema técnico</button>
        </div>
        <div id="calificar-container" class="container" [hidden]="rol === 'juez'" #calificarContainer>
            <button class="btn" (click)="reportarJuego()">Reportar Juego</button>
            <button class="btn" (click)="reportarProblema()">Reportar problema técnico</button>
        </div>
    </div>
</body>

</html>